body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  width: 100%;
  min-height: 130vh;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0 0 0px 0px;
}

.logo {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

#logo_submit {
  display: flex;
  align-items: center; /* 수직 가운데 정렬을 위해 */
  text-decoration: none; /* 링크의 밑줄 제거 */
}

.navigation {
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2px; /* Further reduced margin */
}

.navigation a {
  padding: 9px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 2px; /* Further reduced margin */
  transition: color 0.3s ease;
}

.event_hover:hover {
  background-color: #495867;
  border-radius: 4px;
}

#searchForm {
  display: flex;
  max-width: 300px;
  margin-right: 2px; /* Further reduced margin */
}

#keyword {
  background-color: #343a40;
  color: white;
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #3e74ff;
  border-radius: 10px 0 0 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

#searchButton {
  background-color: #3e74ff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton img {
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

#searchButton:hover {
  background-color: #495867;
}

#keyword:focus {
  border-color: #495867;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  margin-top: 60px;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 30px;
}

.courses-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px; /* Adjust padding as needed */
}

.course:last-child {
  margin-right: 0; /* Remove margin for the last course */
}

.course a {
  text-decoration: none;
}

.course {
  width: 500px;
  margin: 0 2px; /* Further reduced margin */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  list-style: none;
}

.course:hover {
  transform: scale(1.05);
}

.course img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-details {
  padding: 20px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.course-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #343a40;
}

.course-price {
  font-size: 16px;
  font-weight: 500;
  color: #3e74ff;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #343a40;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.promo-image {
  height: 450px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
/* 화살표 아이콘 스타일 */
.page-controls {
  text-align: center;
  margin-top: 20px;
}

.page-number {
  font-weight: bold;
  font-size: 18px;
}
.prev-page,
.next-page {
  font-size: 24px;
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  cursor: pointer;
}

.prev-page:hover,
.next-page:hover {
  color: #0056b3;
}